<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue ;">Angular CRUD</h1>
        <div class="d-flex">
            <button (click)="clickAddArticle()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">
                Add Article
            </button>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let article of articleData">
            <td>{{article.id}}</td>
            <td>{{article.name}}</td>
            <td>{{article.category}}</td>
            <td>{{article.price}}</td>
            <td>{{article.size}}</td>
            <td>{{article.comment}}</td>
            <td>
                <button (click)="OnEdit(article)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info" style="color:aliceblue ;">Edit</button>
                <button (click)="deleteArticle(article)"  class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Article Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="NameInput" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="NameInput">
                </div>
                <div class="mb-3">
                  <label for="CategoryInput" class="form-label">Category</label>
                  <input type="text" formControlName="category" class="form-control" id="CategoryInput">
                </div>
                <div class="mb-3">
                    <label for="PriceInput" class="form-label">Price</label>
                    <input type="text" formControlName="price" class="form-control" id="PriceInput">
                </div>
                <div class="mb-3">
                    <label for="SizeInput" class="form-label">Size</label>
                    <input type="text" formControlName="size"  class="form-control" id="SizeInput">
                </div>
                <div class="mb-3">
                    <label for="CommentInput" class="form-label">Comment</label>
                    <input type="text" formControlName="comment" class="form-control" id="CommentInput">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postAricleDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateArticleDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>